@using ResidenceManagement.WEBAPI.Views.Home
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>@Model.ResidenceViewModel[0].Block</p>
<p>@Model.ResidenceViewModel[0].DoorNumber</p>

<p>Use this page to detail your site's privacy policy.</p>
